$text-color: #512b2b;
$color-white: #fff;
$color-background:#ebe7e2;

$color-secondary-light: #FBF2E9;

$color-primary-orange: #fb661d;
$color-primary-orange-dark: #e5611c;
$color-primary-yellow: #f4ba44;

$color-paragraph-marker: #c5569a;

$color-input-border: #bcd8db;
$color-input-background: #ebf8f2;

$color-table-head: #d5eed4;

$color-blue: #257886;
$color-btn-back: #eaded7;
$color-btn-back-dark: darken($color-btn-back, 5%);

$color-error-background :#f9ded3;

$color-progress-bar-yellow: #fdc129;
$color-progress-bar-orange: #ee7023

