.tooltip {
  position: relative;
  display: inline-block;
  width: 2rem;
  height: 2rem;
  background-color: #d5bbb0;
  font-size: 1.6rem;
  color: $color-white;
  border-radius: 50%;
  text-align: center;
  line-height: 2rem;
  margin-left: 1rem;
  user-select: none;
  cursor: help;

  &:hover {
    background-color: $color-primary-yellow;
    color: $text-color;
  }


}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 15rem;
  background-color: #d5bbb0;
  color: #fff;
  text-align: center;
  border-radius: 3px;
  position: absolute;
  z-index: 1;
  bottom: -11rem;
  left: 0;
  margin-left: -6rem;
  opacity: 0;
  transition: 0.3s;
  font-size: 1.3rem;
  padding: 1rem;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: -.6rem;
  left: 47.5%;
  transform: rotate(180deg);
  margin-left: -.5rem;
  border-width: -11rem;
  border-style: solid;
  border-color: #d5bbb0 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}